.slide-show-item {
    font-size : 13vw;
    width: 99vw;
    height: 95vh;
    background-color : black;
    color : red;
    border : 2px solid white;
    position : absolute;
    top : 0;
    left : 0;
    margin : 0 auto;
}